.body-style{
    margin-top: 62px;
}

.picture-right{
    width: auto;
    height:auto;

}

.section-row{
    height:auto;
}

.intro-col{
    background-color: #ececec;
}

.intro-div{
    margin:15% 5%;
}

.intro-title{
    margin:auto;
    font-weight: bold;
    font-size: 3rem ;
}