
/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* TODO: font family */
body {
  font-family: 'Montserrat', sans-serif;
}

.row, .col {
  margin: 0;
  padding: 0;
}

/* ======= NAVBAR ========*/

/* TODO: responsive layouts and toggle behavior */

.navbar-container {
  padding: 0;
}
.navbar {
    background-color: #012f62;
}

/* NAVBAR BRAND */

/* TODO: Adding logo picture */
.logo-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.navbar-brand {
  color: #ffffff;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
}
.navbar-brand:hover {
  color: #5191CE;
}



/* NAVBAR SEARCH BAR  */


.search-group {
  background-color: #DCDCDC;
  border: 1px solid;
  border-radius: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.search-form, .search-icon {
  background-color: transparent;
  border: none;
}

.search-group:focus-within {
  background-color: #ffffff;
  color: #5191CE;
  border: 1px #5191CE solid;
  box-shadow: 0px 0px 1px 1px #5191CE;
}

.search-form:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

#search-bar-clear-btn {
  color: #012f62;
}
#search-bar-clear-btn:focus {
  box-shadow: none;
}


/* NAVBAR-LINKS */

.navbar-link {
  /* color: #fff; */
  /* text-shadow: 0 0 5pt #ffffff; */
  border-radius: 4px;
  padding: 5px 0px;
  text-align: center;
  width: 100px;
  font-weight: 700;
}

.log-in-link {
  color: #5191CE;
  /* border: 1px solid #5191CE; */
  /* text-shadow: 0 0 5pt #5191CE; */
}

.log-in-link:hover {
  color: #DCDCDC;
  /* border: 1px solid #DCDCDC; */
  /* background-color: #5191CE; */
  /* text-shadow: 0 0 5pt #dcdcdc; */
}

.sign-up-link {
  color: #012f62;
  /* border: 1px solid #DCDCDC; */
  background-color: #DCDCDC;
  /* text-shadow: 0 0 10pt #012d62; */
  /* box-shadow: 0 0 2pt  #000000; */
  /* border: 1px solid #5191CE; */
}
.sign-up-link:hover {
  color: #012f62;
  /* border: 1px solid #DCDCDC; */
  background-color: #5191CE;
  /* text-shadow: 0 0 1pt #; */
  /* border: 1px solid #5191CE; */
}


/* ====== WRITE REVEIW BUTTON ====== */

.write-review {
  position: fixed;
  bottom: 50px;
  right: 80px;

  height: 120px;
  width: 120px;
}

#write-review-btn {
  position: absolute;
  background-color: #5191CE;
  border-radius: 50%;
  
  margin: 0;
  padding: 0;

  bottom: 10px;
  left: 10px;
  
  width: 40px;
  height: 40px;
}

.feather-icon {
  color: #012f62;
  font-size: 5rem;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#write-review-btn:hover {
  background-color: #23558d;
}
#write-review-btn:hover .feather-icon {
  bottom: 15px;
  transform: rotate(-40deg);
  transform-origin: 0% 100%;
}


/* ======== MAINBODY ======== */

.main-body {
    padding: 80px 20% 0;
}

/* BODY HEADER */


#review-header {
  /* position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000; */
  /* background-color: #083049 ; */
  background-color: #ffffff;
  padding-top: 2%;
  margin: 0;
}

/* filter box */

.review-header-form-row {
    padding: 0;
    margin: 3% 0;
}

.review-header-form-col {
  padding: 0;
}
.option-color:focus{
  background-color: #5191CE;
  outline: none;
}

.btn-style {
  background-color: #DCDCDC;
}

.to-left {
  text-align: left;
}

.to-right {
  text-align: right;
}

.to-center {
  text-align: center;
}



/* .btn-style:focus{
  outline-color: red;
  border: none;
  box-shadow: none;
} */

/* review tab */
.tab-style{
  font-size: 1.2rem;
  color: #5191CE;
}

.tab-style:hover{
  color: red;
}



/* COURSE INFORMATION */

.review-body {
  padding:0;
  background-color: #fff  ;
}



.course-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0px 20px;
  text-align: center;
}



/* Review section */

.review-row {
  margin: 0 0 3%;
  padding: 3%;
  /* border: 1px solid; */
  background-color: #ececec;
  border-radius: 1rem;
}


.reviews-content {
  line-height: 1.5;
  
}

.reviews-info {
  margin: 0;

}

.reviews-info-label {
  font-size: 1rem;
  font-weight: bold;
}

.student-info {
  font-size: 0.7rem;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
}

.student-name {
  text-emphasis: left;
}

.student-identity {
  text-align: center;
}

.post-time {
  text-align: right;
  /* height: 2.5rem;
  line-height: 2.5rem; */
  margin: 0;
}

.no-padding-col {
  padding: 0;
}

.review-footer-row {
  height: 2rem;
  padding: 0;
  margin: 0;
}




