.search-body-result-item {
   margin-bottom: 20px; 
   padding: 10px 30px;
   border-radius: 15px;
   border: 1px solid #c7c7c7;
}

.search-body-result-item:hover {
    box-shadow: 3px 3px 4px #c7c7c7, -3px -3px 4px #f5f5f5 ;
}

.search-body-result-link {
    color: #012f62 ; 
    font-size: 1.3rem;
}


.search-body-result-item-hr {
    margin-top: 5px;
    margin-bottom: 15px;
}

.search-body-result-content.first-item {
    margin-left: 10px;
}

.search-body-result-content {
    margin-left: 30px;
}

.search-body-result-content {
    color: #012f62; 
    display: inline-block;
    margin-right: 10px;
    width: 95%;
    border-bottom: transparent 1px solid;
    /* text-decoration: none; */
}

.search-body-result-content:hover {
    cursor: pointer;
    color: #012f62;
    border-bottom: #012f62 1px solid;
    font-weight: bold;
    text-decoration: none;
}

.search-body-result-content-item-last{
    padding-left: 45px !important;
}

.search-result-detail-button {
    padding: 0;
    width: 20px;
    color: #012f62;
}

.search-result-detail-button:hover {
    color: #e9ab14 ;
}

.search-result-detail-button.active {
    color: #e9ab14 ;
    outline: none; 
    box-shadow: none;
}

.search-result-detail-button:focus {
    outline: none; 
    box-shadow: none;
}

.search-result-detail-button.disable {
    color: #e6e6e6;
}




