# Editors
.vs
.vscode/
.idea/

# cache
__pycache__/


# Mac/OSX
.DS_Store

# Windows
Thumbs.d

# vim
.swp
web_project/.vs/slnx.sqlite
web_project/.vs/VSWorkspaceState.json
web_project/.vs/web_project/v16/.suo
