
.rev-detail-button {
  padding: 0;
  width: 50px;
  margin: auto;
  font-size: 1.5rem;
}

.rev-detail-button:hover,.rev-detail-button:focus {
  /* border: 1px solid transparent; */
  box-shadow: none;
}
.rev-detail-button:hover {
  color: #e9ab14;
}

.rev-detail-button-icon {
  padding: 0;
  margin: 0;
}

.rev-detail-button.disable {
  color: #e6e6e6;
}
.rev-detail-button.disable:hover {
  color: #e6e6e6;
}
