.body-style {
  margin-top: 62px;
  background-color: #ececec;
}

/* introduction */

.index-page-style {
  cursor: default;
  background-color: #ececec;
  height: 800px;
  padding-top: 5%;
}

.pic-one {
  width: 480px;
  height: auto;
  margin: 10% 10%;
  transform: rotate(10deg);
  border-radius: 8px;
  box-shadow: 10px 10px 10px #070707;
}

.section-one {
  height: 600px;
  width: 100%;
  background-color: #012f62;
}

.col-one {
  color: #fcfcfc;
}

.intro-div {
  cursor: default;
  margin: 15% 10%;
}

.intro-title {
  margin-bottom: 50px;
  /* font-weight: bold; */
  font-size: 3rem;
}

.bold-text {
  font-weight: bold;
}
/* carousel */

.slides-style {
  color: #012f62;
}

.occupied {
  height: 550px;
  background-color: #dcdcdc;
  text-align: center;
  padding-top: 10%;
  color: #012f62;
}

.popular-course-container {
  cursor: pointer;
  transition: 0.3s;
}

.popular-course-container:hover{
    text-shadow: 3px 3px 5px #a0a0a0;
    transition: 0.3s;
}

.popular-course-name {
  display: block;
  padding: 20px;
}

.popular-course-details {
  display: block;
}

.popular-course-ins {
  margin-left: 20px;
}

.tag-container {
  cursor: default;
  margin-top: 50px;
  /* height: 60px; */
  padding: 20px;
  /* padding: auto; */
}

.tag-style {
  display: inline-block;
  margin: 10px;
  padding: 12px 15px;
  line-height: 1;
  font-size: 1rem;
  background-color: #012f62;
  color: #ffffff;
  border-radius: 22px;
  transition: 0.3s;
}

.tag-style:hover {
  box-shadow: 0 0 10px #417dc1;
  padding: 12px 15px;
  line-height: 1;
  border: none;
  /* font-size: 1.5rem; */
  transition: 0.3s;
}

/* footer */
.main-footer {
  height: 150px;
  background-color: #6e7693;
}
