.search-body-result-item {
   margin-bottom: 40px; 
   padding: 20px 30px;
   border-radius: 20px;
   /* border: 1px solid #c6c6c6; */

}

.search-body-result-item:hover {
    cursor: pointer;
    color: #012f62;
    /* color: blue; */
   /* border: 1px solid blue; */
   background-color: #f7f7f7;
}

.search-body-result-link {
    font-size: 1.3rem;
}



