.btn-style {
  background-color: #fff;
  border: 1px solid #e9ab14;
  /* outline: auto; */
}

.review-header-form-row {
  padding: 0;
  margin: 3% 0;
}

.review-header-form-col {
  padding: 0;
}

.option-color:focus {
  background-color: #5191ce !important;
  outline: none;
}

.option-color {
  background-color: white !important;
  color: black !important;
  outline: none;
}

.option-color:hover {
  background-color: #5191ce !important;
  outline: none;
}

.to-left {
  text-align: left;
}

.to-right {
  text-align: right;
}

.to-center {
  text-align: center;
}
