/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Sriracha&display=swap');
/* TODO: font family */
body {
  font-family: 'Montserrat', sans-serif;
  color: #012f62;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.row, .col {
  margin: auto 0 !important;
  padding: 0 !important;
  text-align: center;
}

/* ======= NAVBAR ========*/

/* TODO: responsive layouts and toggle behavior */

.container{
  padding: 0;
  margin: 0;
}

.navbar-container {
  padding: 0;
  margin: 0;
}
.navbar {
    background-color: #012f62;
    /* height: 60px; */
    /* background: radial-gradient(circle, rgba(1,47,98,1) 50%, rgba(78,97,133,1) 100%); */
    box-shadow: 0 1px 2px #e9ab14 ;
}

/* NAVBAR BRAND */

/* TODO: Adding logo picture */
.logo-img {
  width: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.navbar-brand {
  color: #e9ab14;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
}
.navbar-brand:hover {
  color: #DCDCDC;
  transition: color 0.17s;
}



/* NAVBAR SEARCH BAR  */

.search-group {
  background-color: #314572;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  position: relative;
  
  /* background-color: transparent;
  border: 1px solid #012f62; */
}

.search-form, .search-icon {
  background-color: transparent;
  border: none;
  color: #505d83;
}

.search-form::placeholder {
  color: #505d83;
  /* color: #DCDCDC; */
}
.search-group:focus-within {
  background-color: #012f62;
  border: 1px #e9ab14 solid;
  box-shadow: 0px 0px 1px 1px #88c1bd;
}

.search-form:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: #DCDCDC;
}

.search-group:focus-within .search-icon{
  color: #e9ab14;
}

.search-group:focus-within #search-bar-clear-btn{
  color: #dfb879;
}

#search-bar-clear-btn {
  color: #505d83;
}

#search-bar-clear-btn:focus {
  box-shadow: none;
}


/* NAVBAR-LINKS */

.navbar-link {
  /* color: #fff; */
  /* text-shadow: 0 0 5pt #ffffff; */
  border-radius: 4px;
  padding: 5px 0px 3px;
  text-align: center;
  width: 100px;
  font-weight: 700;
}

.log-in-link {
  color: #e9ab14;
  border: 1px solid transparent;
  /* text-shadow: 0 0 5pt #5191CE; */
}

.log-in-link:hover {
  color: #DCDCDC;
  border: 1px solid transparent;
  transition: color 0.2s;
  /* background-color: #5191CE; */
  /* text-shadow: 0 0 5pt #dcdcdc; */
}

.sign-up-link {
  color: #fff;
  color: #e9ab14;
  /* background-color: #e9ab14; */
  border: 1px solid #e9ab14;
}
.sign-up-link:hover {
  color: #012f62;
  /* background-color: #dfb879; */
  background-color: #e9ab14;
  border: 1px solid #dfb879;
  transition: color 0.2s;
}
