/* combobox style */
.select-style{
    background-color: #ffffff;
    border: 1px solid #012f62;
}

/* rating stars */
i.rating-star-filled{
    color: gold;
}

.rating-star{
    color: white;
    text-shadow: 0px 0px 3px #AAAAAA;
}

.form-group{
    /* margin-left: 4px */
}

.form-field{
    border: 1px solid #AAAAAA;
}
.form-field:focus-within{
    border: 1px solid #e9ab14;
    box-shadow: 0 0 4px #e9ab14;
}